<div id = "footer">
    <span>This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it.</span>
    <span>For more information see Supercell’s <a href="https://www.supercell.com/fan-content-policy" target="_blank">Fan Content Policy</a></span>
</div>