<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

<!-- Open Graph --> 
<meta property="og:title" content="BrawlTrack"/> 
<meta property="og:image" content="https://raw.githubusercontent.com/1e9end/bb/main/assets/logo.png"/>
<meta property="og:description" content="BrawlTrack is a Brawl Stars trophy gains tracker and ranking system that motivates members and club growth. It also serves as a tool to guide impactful promotion decisions to give you confidence that your top contributors are leading your club forward all the way to the top!" /> 
<meta property="og:url" content= "https://brawltrack.com"/> 
<meta property="og:type" content="website"/>

<title>BrawlTrack</title>

<link rel="shortcut icon" type="image/png" href= "https://raw.githubusercontent.com/1e9end/bb/main/assets/favicon.png"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">
<link rel="stylesheet" href="/globalStyle.css" type = "text/css">
<script src = "/main.js" defer></script>