<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

<!-- Open Graph --> 
<meta property="og:site_name" content="Brawltrack.com"/> 
<meta property="og:title" content="BrawlTrack - Brawl Stars trophy gains tracker and ranking system"/> 
<meta property="og:image" content="https://cdn.brawltrack.com/assets/logo.png"/>
<meta property="og:image:alt" content="Brawltrack trophy gains tracker and ranking system"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="1024"/>
<meta property="og:image:height" content="512"/>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:description" content="Curious how many trophies you have gained?! Want to know how your performance stacks up compared to others in your club?! BrawlTrack has your answers! BrawlTrack is a Brawl Stars trophy gains tracker and ranking system created to motivate individual and club growth. If your club wants to get to the top and stay there then you need BrawlTrack!" /> 
<meta property="og:url" content= "https://brawltrack.com"/>
<meta property="og:type" content="website"/>
<title>BrawlTrack</title>
<link rel="shortcut icon" type="image/png" href= "https://cdn.brawltrack.com/assets/favicon.png"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">
<link rel="stylesheet" href="/globalStyle.css" type = "text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
<script src = "/globalScript.js" defer></script>