<div id="header">
    <div class="v-center" id="sidenav-toggle" onclick="toggleNav()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="v-center" id = "logo">
        BrawlTrack
    </div>
    <div class="v-center" id = "club-selector">
        
    </div>
</div>
<div id="sidenav" class="sidenav">
    <a href="https://brawltrack.com/">Home</a>
    <a href="https://brawltrack.com/blog">Blog</a>
    <a href="https://brawltrack.com/contact">Contact</a>
</div>