<div id="header">
    <div class="v-center" id="sidenav-toggle" onclick="toggleNav()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="v-center" id = "logo">
        BrawlTrack
    </div>
    <div class="v-center" id = "club-selector">
        <select id= "club-selector-tag" onchange="changeClub()">
            <option value="28GYUQJ9Q">Better</option>
            <option value="C9Y29P8V">Best</option>
            <option value="YQ9JYR2Q">Backup</option>
            <option value="2PQLCVJYC">Baby</option>
            <option value="2Q8RLQGJU">Buddy</option>
            <option value="2LGP82UGV">Brazen</option>
            <option value="28YRVG90P">ZebraGaming</option>
            <option value="QCUJRG80">SpikeParty</option>
        </select>
    </div>
</div>
<div id="sidenav" class="sidenav">
    <a href="#">Home</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
</div>